* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background-color: #9c294a;
}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    font-size: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    min-height: 100vh;
}

.wrapper h1 {
    color: #ffffff;
    font-size: 30px;
}

.button {
    font-family: inherit;
    color: #282a2e;
    font-size: 18px;
    font-weight: 700;
    min-width: 13em;
    padding: 15px 55px;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 15px 15px 0 0 #18191C;
    transition: box-shadow .2s ease, transform .2s ease;
}

.button.submit:active {
    box-shadow: 5px 5px 0 0 #00ff2a;
    transform: translate(0px, 10px);
    color: #00ff2a;
}

.button.dismiss:active {
    box-shadow: 5px 5px 0 0 #ff0000;
    transform: translate(0px, 10px);
    color: #ff0000;
}

.submit:hover, .dismiss:hover, .rainbow-button:hover {
    transform: scale(105%);
}

.rainbow-button:hover {
    animation: rainbow 4s infinite;
}

@keyframes rainbow {
    0% { background-color: #FF5733; color: white; }  
    14% { background-color: #33FF57; color: black; } 
    28% { background-color: #3357FF; color: white; } 
    42% { background-color: #FF33A1; color: black; } 
    57% { background-color: #FFD733; color: black; } 
    71% { background-color: #33FFD7; color: black; } 
    85% { background-color: #A133FF; color: white; } 
    100% { background-color: #FF5733; color: white; } 
}